/* make margin and padding to 0(页边距和行边距) */
* {
    padding: 0;
    margin: 0;
}

/* Whole page is 100% width and 100vh height. Background color is from figma */
.contentBox{
    width: 100%;
    /* 因为这个页面太长了我就给他搞到130了，后面会调一下，没时间了 */
    height: 100vh;
    background-color: #F5F5F5;
}

/* This is the box of logo. At the top of the page */
.logoBox{
    display: flex;
    /* 首行开始排列 */
    justify-content: flex-start; 
    align-items: center;

    width: 100%;
    height: 100px;
    /* background color in the box is to test the location/size of the box */
    /* background-color: red; */
}

/* Style of the logo */
.logo{
    margin-left: 10px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 49.6px;
    line-height: 60px;
    color: #BEACAC;
}

/* title box is under the logo box */
.titleBox{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    /* background-color: #008c8c; */
}

/* Text "register" */
.register{
    margin-left: 100px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 83px;
    color: #BEACAC;
}

/* Position to upload profile piecture */
.picture{
    /* Define a circle */
    width: 188px;
    height: 188px;
    background: #D9D9D9;
    border-radius: 94px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 31.994px;
    line-height: 100px;
    text-align: center;
    color: #BEACAC;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 100px;
}

/* There are two information box, details write in the .html. Directly under the titleBox*/
.informationBox{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    /* background-color: pink; */
}


.inforLeft,
.inforRight {
    width: 600PX;
    /* background-color: green; */
}

.inforLeft {
    margin-left: 100px;
    margin-right: 200px;
}

/* All text style in the informationBox */
.label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    color: #BEACAC;
}


/* Style of the input */
.ipt {
    display: block;
    box-sizing: border-box;
    width: 300px;
    height: 40px;
    font-size: 18px;
    background: #FFFFFF;
    border: 1px solid #9C9C9C;
    border-radius: 20px;
    outline: none;
    padding-left: 30px;
}

/* Button box, directly under two infor box */
.butBox {
    display: flex;
    justify-content: flex-start;
    margin-top: 30px;
}


/* Style of the botton */
.but{
    width: 150px;
    height: 40px;
    background: #D9D9D9;
    border-radius: 20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 20px;
    text-align: center;
    color: #BEACAC;
    border: none;
}

/* LinkBox, under button */
.linkBox {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}


/* Style of the link text. */
.link {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19.0567px;
    line-height: 23px;
    color: #BEACAC;
    margin: 20px auto 0;
}